@{
    ViewBag.Title = "Home Page";
}
@section HeaderPanel {
    <div class="headerPanel">
        <div class="content-wrapper">
            <div class="floarL leftAlign"><a href="#" id="lnkModifySearch">Modify Search</a></div>
            <div class="floatR rightAlign">You have searched for: Client All, for the period from Jan 2014 to Oct 2014 </div>
        </div>
    </div>
}
<div class="clear"></div>
<div class="featured searchPanel">
    <div class="content-wrapper">
        <p>
            Start Month: 
                <select>
                    <option value="1">Jan</option>
                </select>
            <select>
                <option>2014</option>
            </select>
            End Month: 
                <select>
                    <option value="1">Jan</option>
                </select>
            <select>
                <option>2014</option>
            </select>
        </p>
        <p>
            Client:
                <select>
                    <option value="1">Jan</option>
                </select>
        </p>
    </div>
</div>
<div class="projects">
    <h3>Current  Projects<small> (4 projects)</small></h3>
    <div class="projectSection">
        <ul class="projectTile">
            <li class="item currentProjectTile shadow">
                <div class="firstDiv">
                    <div class="projectCode">PD2302</div>
                    <div class="listCode">List Research (AP04_249)</div>
                    <div class="records">20 records out of 80</div>
                </div>
                <div class="secondDiv">
                    <div class="description">asdsa asdasda asdasda asdasd</div>
                    <div class="links">
                        <a href="#">Show Details</a>
                    </div>
                </div>
            </li>
            <li class=" item currentProjectTile shadow">
                <div class="firstDiv">
                    <div class="projectCode">PD2302</div>
                    <div class="listCode">List Research (AP04_249)</div>
                    <div class="records">20 records out of 80</div>
                </div>
                <div class="secondDiv">
                    <div class="description">asdsa asdasda asdasda asdasd</div>
                    <div class="links">
                        <a href="#">Show Details</a>
                    </div>
                </div>
            </li>
            <li class=" item currentProjectTile shadow">
                <div class="firstDiv">
                    <div class="projectCode">PD2302</div>
                    <div class="listCode">List Research (AP04_249)</div>
                    <div class="records">20 records out of 80</div>
                </div>
                <div class="secondDiv">
                    <div class="description">asdsa asdasda asdasda asdasd</div>
                    <div class="links">
                        <a href="#">Show Details</a>
                    </div>
                </div>
            </li>
            <li class="item currentProjectTile shadow">
                <div class="firstDiv">
                    <div class="projectCode">PD2302</div>
                    <div class="listCode">List Research (AP04_249)</div>
                    <div class="records">20 records out of 80</div>
                </div>
                <div class="secondDiv">
                    <div class="description">asdsa asdasda asdasda asdasd</div>
                    <div class="links">
                        <a href="#">Show Details</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="clear"></div>
    <h3>New Projects <small>(4 projects)</small></h3>
    <div class="projectSection">
        <ul class="projectTile">
            <li class="item newProjectTile shadow">
                <div class="firstDiv">
                    <div class="projectCode">PD2302</div>
                    <div class="listCode">List Research (AP04_249)</div>
                    <div class="records">20 records out of 80</div>
                </div>
                <div class="secondDiv">
                    <div class="description">asdsa asdasda asdasda asdasd</div>
                    <div class="links">
                        <a href="#">Show Details</a>
                    </div>
                </div>
            </li>
            <li class="item newProjectTile shadow">
                <div class="firstDiv">
                    <div class="projectCode">PD2302</div>
                    <div class="listCode">List Research (AP04_249)</div>
                    <div class="records">20 records out of 80</div>
                </div>
                <div class="secondDiv">
                    <div class="description">asdsa asdasda asdasda asdasd</div>
                    <div class="links">
                        <a href="#">Show Details</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="clear"></div>
    <h3>Completed Projects<small> (4 projects)</small></h3>
    <div class="projectSection">
        <ul class="projectTile">
            <li class="item completeProjectTile shadow">
                <div class="firstDiv">
                    <div class="projectCode">PD2302</div>
                    <div class="listCode">List Research (AP04_249)</div>
                    <div class="records">20 records out of 80</div>
                </div>
                <div class="secondDiv">
                    <div class="description">asdsa asdasda asdasda asdasd</div>
                    <div class="links">
                        <a href="#">Show Details</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="clear"></div>
</div>

@*@Scripts.Render("~/bundles/jquery")*@

